.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 2em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.849);
}

.name_logo {
    color: rgba(255, 0, 0, 0.658);
    font-size: large;
    text-decoration: none;
    transition: 500ms;
}

.name_logo:hover{
    color: #FFBD59;
}

.list {
    display: flex;
    list-style: none;
}

.list_item a{
    margin: 0 1em;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.658);
    font-size: large;
    transition: 500ms;
}

.list_item a:hover{
    color: #FFBD59;
}